.score div span{
  height: 2em;
  width: 2em;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 200px;
  height: 200px;
  position: relative;
  background-image: url(Images/table.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.plus-button{
  width: 200px;
  height: 200px;
}
.plus-button .btn-warning{
  background-image: url(Images/plus.png);
  background-size: contain;
  background-position: center;
}
.mark-x{
  background-image: url(Images/x.svg);
  background-size: 100% 100%;
}
.mark-o{
  background-image: url(Images/o.svg);
  background-size: 100% 100%;
}
.line{
  background-size:  100% 100%;
  height: 100%;
  width:  100%;
  position: absolute;
}
.line-winner-1{
  background-image: url(Images/line-winner-1.svg);
}
.line-winner-2{
  background-image: url(Images/line-winner-2.svg);
}
.line-winner-3{
  background-image: url(Images/line-winner-1.svg);
  transform: rotate(180deg);
}
.line-winner-4{
  background-image: url(Images/line-winner-1.svg);
  transform: rotate(270deg);
}
.line-winner-5{
  background-image: url(Images/line-winner-2.svg);
  transform: rotate(90deg);
}
.line-winner-6{
  background-image: url(Images/line-winner-1.svg);
  transform: rotate(90deg);
}
.line-winner-7{
  background-image: url(Images/line-winner-3.svg);
}
.line-winner-8{
  background-image: url(Images/line-winner-3.svg);
  transform: rotate(90deg);
}
h1{
  margin: 0;
  font-family: cursive;
}
.score{
  font-family: cursive;
}
body{
  background-image: url(Images/squared-paper-texture.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

  .btn-circle i {
  position: relative;
  top: -1px;
}

  .btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

  .btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

  .btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

html, body{
  height: 100vh;
}